<p><b>Project name: <%= project.name %></b></p>
<p>Project description: <%= project.description %></p>

<p>List of users:</p>
<ul>
  <% project.users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<p><a href=<%= new_project_timeblock_path(project) %>>Record a new timeblock for this project.</a></p>